body {
    padding-bottom: 2rem;
}

header {
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}

header .btn {
    font-size: 1.1rem;
}

table {
    margin-bottom: 1.2rem;
}

.divider {
    margin-bottom: 1.2rem;
}

/* Make the headings a little smaller than Spectre defaults */

h1,
.h1 {
  font-size: 1.8rem;
}

h2,
.h2 {
  font-size: 1.4rem;
}

h3,
.h3 {
  font-size: 1.2rem;
}

h4,
.h4 {
  font-size: 1.1rem;
}

/* Blog index */

.post-index .post {
    margin-bottom: 1.4rem;
}

.post-index .post-title {
    margin-bottom: 0.1rem;
}

.post-index .post-preview {
    margin-top: 0.8rem;
}
